<!DOCTYPE HTML>
<html lang="en-US">
<head>
	
	<meta charset="UTF-8">
	{% load staticfiles %}

       
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'bootstrap4/bootstrap.bundle.min.js'%}">
        <link rel="stylesheet" href="{% static 'bootstrap4/bootstrap.min.js'%}">

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="all" />

        <link rel="stylesheet" type="text/css" href="{% static 'customecss/common.css' %}">

        <script src="{% static 'sweetalert2/sweetalert2.min.js'%}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'sweetalert2/sweetalert2.css'%}">

	
	<title>Registration Page</title>
	
</head>
<body class="thisisregistraiton">
	
	
<nav  class="navbar navbar-expand-lg navbar-light" id="cusnav">
  <a class="navbar-brand" style="margin-right: 50px;" href="#"><span style="color:red;font-weight: bold;font-size: 35px;">B</span><span style="color:crimson;color:aqua">_Lovers</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" style="color:white;font-family:italic;font-size:16px;" href="/home/">HomePage</a>
      <a class="nav-item nav-link" style="color:white;font-family:italic;font-size:16px;" href="#">Website</a>
      <a class="nav-item nav-link" style="color:white;font-family:italic;font-size:16px;" href="#">PortFolio</a>
      <a class="nav-item nav-link disabled" style="color:white;font-family:italic;font-size:16px;" href="#">Blog</a>
      <a class="nav-item nav-link disabled" style="color:white;font-family:italic;font-size:16px;" href="/login/">Log In</a>
    </div>
  </div>
  
  
  
</nav>



<div class="container ">

	<div class="row">
		<div class="col-md-3">
			
			{%if msgreg %}
					<script language="javascript">
						
						swal('OK!!','You Have Completed Your RegisTration','success');
						
						 setTimeout(function(){ 
							window.location.href='/login/' 
					 },3000); 
					
					</script>
			{%endif%}
		
		</div>
		
		<div class="col-md-6">
			<div class="card border-info">
				<div class="card-header bg-info" >
				
					<h2 style="font-family:italic;" class="">RegisTration Form</h2>
				
				</div>
				
				<div class="card-body " style="background: none;">
					
					<form action="/registration/" method="post" class="border-success" enctype="multipart/form-data">
						{%csrf_token%}
						
						<div class="form-group">
							
							<label for="fulname" style="font-weight:bold;font-size:15px;">Enter Full Name</label>
							<input required name="fullname" type="text" class="form-control" placeholder="YOur Full Name"  id="fulname"/>
							
						</div>
						
						<div class="form-group">
							<label for="mail" style="font-weight:bold;font-size:15px;">YOur Valid Gmail</label>
							
							<div class="input-group">

								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">@</span>
								</div>
								
								<input required name="gmail" type="email" class="form-control" placeholder="valid gmail" id="mail" />
							</div>
							
						</div>
						
						<div class="form-group">
							
							<label for="pass1" style="font-weight:bold;font-size:15px;">Choose Password</label>
							<input required name="pass1" type="password" class="form-control" placeholder="password"  id="pass1"/>
							
						</div>
						
						<div class="form-group">
							
							<label for="pass2" style="font-weight:bold;font-size:15px;">Confirmed Password</label>
							<input required  name="pass2" onkeyup="heicheck()" type="password" class="form-control" placeholder="confirmed"  id="pass2"/>
							<p id="msg1" style="color:green;"></p>
							<p id="msg2" style="color:red;"></p>
							
						</div>
						
						
						<div class="form-group">
							
							<label for="varsity" style="font-weight:bold;font-size:15px;">InstituTions </label>
							<input required name="varsity" type="text" class="form-control" placeholder="college/varsity/school"  id="varsity"/>
							
						</div>
						
						<div class="form-group">
							
							<label for="expert" style="font-weight:bold;font-size:15px;">Book Type YOu Like Most </label>
							<input required name="expert" type="text" class="form-control" placeholder="science_fiction, comedy, romance, horror, tragedy"   id="expert"/>
							
						</div>
						 <input type="file" class="mb-3" name="picture" placeholder="choose image" >
						 
						<button class="btn btn-primary btn-block mb-1">Complete Registration Now</button>
					    
					   
					</form>
					
					
				</div>
				
				<div class="card-footer bg-info">
					
					<a href="#" ><h5 style="text-align:center;color:white;text-decoration:underline">terms & conditions</h5></a>
					
				</div>
				
			</div>
		
		</div>
		
		<div class="col-md-3">
		</div>
		
	
	</div>

</div>
	
<div class="footer">
	
	<h3 style="text-align:center;color:brown;">All Rights reserved..</h3>
	<h4 style="color:white;font-family:italic;text-align:center;">Thi website is the asset of Rajshahi University Of Engineering And Technology</h4>

</div>
	
	<script type="text/javascript">
		
		
		
		function heicheck()
		{
			var pass1=document.getElementById('pass1').value;
			var pass2=document.getElementById('pass2').value;
			if(pass1==pass2){
				document.getElementById("msg1").innerHTML="Successfull Matched";
				document.getElementById("msg2").style.display="none";
					
				}
			else
				document.getElementById("msg2").innerHTML="Not matched";
		}
	
	
	</script>
	
	
</body>
</html>