*{padding:0; margin:0;}

@font-face
{
	font-family:spb;
	src:url(customfront/Funkrocker.otf);
}
@font-face
{
	font-family:italic;
	src:url(customfront/italic.TTF);
}
@font-face
{
	font-family:kom;
	src:url(customfront/KOMIKAGL.ttf);
}
#cusnav
{
	border-radius:0px;
	color:white;
    padding: 0;
    margin: 0;
}
.headtop
{
    width: 100%;
}
.middlepage
{
    width: 100%;
    background: url("/static/image/bg.jpg");
    height: 610px;
}
